@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* NAV CSS --------------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Poppins", sans-serif;
}

ul.nav-list {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.nav-link {
  margin-right: 1.5rem;
}

hr.nav-line {
  border-top: 1px solid rgb(250, 250, 250);
  width: 95%;
}

/* MAIN CSS ---------------------------------------------------*/
.main-container {
  margin: 10rem auto 20rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.savon-img {
  border-radius: 50%;
  width: 75%;
}

.left-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-img {
  text-align: center;
}

.hello-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.main-text {
  font-size: 1.15rem;
}

.job-title {
  font-size: 1.1rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.follow-me {
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.social-icons {
  text-align: center;
}

.icon {
  width: 15%;
  margin-right: 0.5rem;
}

/* ABOUT ME CSS ------------------------------------------------ */
.about-title,
.skills-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about-container {
  display: flex;
  gap: 4rem;
  width: 50%;
  justify-content: center;
  margin: auto auto 20rem auto;
}

.right-about {
  margin: auto;
}

.download-btn {
  width: 10rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
}

.download-btn:hover {
  background-color: rgb(47, 149, 47);
}

.download-text {
  color: white;
  font-size: 1rem;
}

.about-img {
  border-radius: 50%;
}

/* SKILLS SECTION ------------------------------- */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-size: 1.4rem;
  margin-bottom: 20rem;
}

.left-skills,
.middle-skills,
.right-skills {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.skills-icon {
  width: 50%;
}

.chevron-down {
  margin-left: 2rem;
  width: 50%;
}

.skills-list {
  font-size: 1.1rem;
}

.skills-item {
  padding-bottom: 0.5rem;
}

.skills-header {
  font-size: 1.25rem;
  font-weight: 600;
}

/* PORTFOLIO CSS */
.portfolio-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.portfolio-container {
  margin-bottom: 10rem;
}

.swiper {
  width: 75%;
  height: 300px;
}

.swiper-slide-flex {
  display: flex;
  width: 70%;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.portfolio-rt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-prev::after {
  color: green;
}

.item-next::after {
  color: green;
}

.portfolio-img {
  border: 1px solid grey;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

span.swiper-pagination-bullet {
  background-color: green;
}

.portfolio-btn {
  display: flex;
  gap: 1rem;
}

/* FOOTER ----------------------------------- */
hr.footer-line {
  border-top: 1px solid rgb(250, 250, 250);
  width: 95%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.phone,
.email {
  margin-top: 0.25rem;
}
