@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* NAV CSS --------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.nav-link  {
    margin-right: 1.5rem;
}

hr.nav-line {
    border-top: 1px solid rgb(250, 250, 250);
}

/* MAIN CSS ---------------------------------------------------*/
.main-container {
    margin: 10rem auto 20rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.savon-img {
    border-radius: 50%;
    width: 75%;
}


.left-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-img {
    text-align: center;
}

.hello-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.main-text {
    font-size: 1.20rem;
}

.job-title {
    font-size: 1.3rem;
    margin-top: .75rem;
    margin-bottom: 0;
}

.follow-me {
    margin-top: .50rem;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.social-icons {
    text-align: center;
}

.icon {
    width: 15%;
    margin-right: .5rem;
}

/* ABOUT ME CSS ------------------------------------------------ */
.about-title, .skills-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.about-container {
    display: flex;
    gap: 4rem;
    width: 50%;
    justify-content: center;
    margin: auto auto 20rem auto;
}

.right-about {
    margin: auto;
}

.download-btn {
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
}

.download-btn:hover {
    background-color: rgb(47, 149, 47);
}

.download-text {
    color: white;
    font-size: 1rem;
}

/* SKILLS SECTION ------------------------------- */
.skills-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-size: 1.4rem;
    margin-bottom: 20rem;
}

.left-skills, .right-skills {
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}

.skills-icon {
    width: 50%;
}

.chevron-down {
    margin-left: 2rem;
    width: 50%;
}